[submodule "libqrencode"]
	path = libqrencode
	url = https://github.com/fukuchi/libqrencode.git
[submodule "cryptonote"]
	path = cryptonote
	url = https://github.com/xDropProject/xDrop
	branch = master
